{
  "extends": "airbnb",
  "overrides": [
    {
      "files": ["app.js", "AddorRemovePopup.js", "Calendar.js",
        "CreateNewEvent.js", "GoogleAuth.js", "Header.js", "UsersListPopup.js",
        "Admin.js", "Home.js", "User.js"],
        "rules": {
          "react/jsx-filename-extension": "off",
          "react/prop-types": "off",
          "no-alert": "off",
          "jsx-a11y/label-has-associated-control": "off",
          "no-shadow": "off",
          "camelcase": "off",
          "react/destructuring-assignment": [{"ignoreClassFields": true}]
        }
    }
  ]
}
